
.obsidian/appearance.json
.obsidian/plugins/novel-word-count/data.json
.obsidian/plugins/obsidian-activity-history/data.json
.obsidian/plugins/recent-files-obsidian/data.json
.obsidian/plugins/surfing/data.json
.obsidian/workspace.json


# Ignore everything in the following directories
# 🔴 Academics/📚 Educational Resources/*
# But don't ignore the following files and subfolders in those directories
# !🔴 Academics/📚 Educational Resources/🌐 LeetCode/*
# !🔴 Academics/📚 Educational Resources/📕 Foundations of Scalable Systems (2022)
# !🔴 Academics/📚 Educational Resources/🌐 Structy
# !🔴 Academics/📚 Educational Resources/🗒️ Python
# !🔴 Academics/📚 Educational Resources/🗒️ Spark Optimization
# !🔴 Academics/📚 Educational Resources/🗒️ SQL Server
# !🔴 Academics/📚 Educational Resources/🗒️ Obsidian
# !🔴 Academics/📚 Educational Resources/🗒️ JetBrains
# !🔴 Academics/📚 Educational Resources/🗒️ Java
# !🔴 Academics/📚 Educational Resources/🗒️ GitHub
# !🔴 Academics/📚 Educational Resources/🗒️ GitHub CLI
# !🔴 Academics/📚 Educational Resources/🗒️ Git
# !🔴 Academics/📚 Educational Resources/🗒️ Docker
# !🔴 Academics/📚 Educational Resources/🗒️ Bash
# !🔴 Academics/📚 Educational Resources/📕 Python in a Nutshell, 4th Edition (2023)
# !🔴 Academics/📚 Educational Resources/📕 Master Your Data with Excel and Power BI
# !🔴 Academics/📚 Educational Resources/🌐 Postgres Conference
# !🔴 Academics/📚 Educational Resources/🌐 Codility
# !🔴 Academics/📚 Educational Resources/🌐 IBM Technology
# !🔴 Academics/📚 Educational Resources/🌐 AWS Educate
# !🔴 Academics/📚 Educational Resources/🗒️ SQL
# !🔴 Academics/📚 Educational Resources/Spark Optimization
# !🔴 Academics/📚 Educational Resources/🙋🏽‍♂️ Data Engineering Prep (Discord Group)
# !🔴 Academics/📚 Educational Resources/📕 Learning SQL, 3rd Edition (2020)
# !🔴 Academics/📚 Educational Resources/📕 Fluent Python, 2nd Edition (2022)
# !🔴 Academics/📚 Educational Resources/🌐 Use the Index, Luke! (2022)
# !🔴 Academics/📚 Educational Resources/🌐 System Design Fight Club
# !🔴 Academics/📚 Educational Resources/🌐 PostgreSQL Documentation
# !🔴 Academics/📚 Educational Resources/🌐 Microsoft Learn
# !🔴 Academics/📚 Educational Resources/🌐 HackerRank
# !🔴 Academics/📚 Educational Resources/🌐 GitHub Docs
# !🔴 Academics/📚 Educational Resources/🌐 Amazon Redshift - Fundamentals
# !🔴 Academics/📚 Educational Resources/🌐 Advanced SQL
# !🔴 Academics/📚 Educational Resources/🌐 Advent of Code
# !🔴 Academics/📚 Educational Resources/🌐 StrataScratch
# ! Academics/📚 Educational Resources/sortspec.md
