
.obsidian/appearance.json
.obsidian/plugins/novel-word-count/data.json
.obsidian/plugins/obsidian-activity-history/data.json
.obsidian/plugins/recent-files-obsidian/data.json
.obsidian/plugins/surfing/data.json
.obsidian/workspace.json


# Ignore all plugins in the .obsidian/plugins directory
.obsidian/*

# Don't ignore the icons folder in the .obsidian/plugins directory
!.obsidian/plugins/icons

# Ignore the .idea folder
.idea

# Ignore the .vscode workspace file
.vscode

# Ignore the pandoc folder
.pandoc