
.obsidian/appearance.json
.obsidian/plugins/novel-word-count/data.json
.obsidian/plugins/obsidian-activity-history/data.json
.obsidian/plugins/recent-files-obsidian/data.json
.obsidian/plugins/surfing/data.json
.obsidian/workspace.json
assets/images/Pasted image 20230912120040.png
assets/images/Pasted image 20230912115301.png
assets/images/Pasted image 20230912115211.png
assets/images/Pasted image 20230912115122.png
🔴 Academics/📚 Educational Resources/Spark Optimization/Reading Query Plans.md
README.md
.obsidian/plugins/novel-word-count/data.json
.obsidian/plugins/recent-files-obsidian/data.json
.obsidian/workspace.json
