

h1 {
	font-size: 2em !important;
	/* color: #d04255 !important; */
    border-bottom-color: var(--hr-color);
    border-bottom-style: solid;
    border-bottom-width: 0.8px;
}
h2 {
	font-size: 1.5em !important;
	/* color: #d5763f !important; */
    border-bottom-color: var(--hr-color);
    border-bottom-style: solid;
    border-bottom-width: 0.8px;
}
h3 {
	font-size: 1.25em !important;
	/* color: #e5b567 !important; */
}
h4 {
	font-size: 1em !important;
	/* color: #a2bc6f !important; */
	font-variant: small-caps;
}
h5 {
	font-size: .875em !important;
	/* color: #597992 !important; */
	font-variant: small-caps;
}
h6 {
	font-size: .85em !important;
	/* color: #8d79b2 !important; */
	font-variant: small-caps;
}